*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #A7DDF2;
    font-family: Arial, Helvetica, sans-serif; 
}

.menu{
    display: flex;
    align-items: center;
    padding: 10px 40px;
    background-color: rgb(4, 119, 191);
}

.header-logo img {
    width: 120px;
    height: auto;
}

.header-menu{
    display: flex;
    list-style: none;
    gap: 60px;
    margin-left: 270px;
}

.header-menu ul{
    display: flex;
}

.header-menu a:hover{
    color: rgb(190, 214, 247);
}

a{
    color: white;
}
.container{
    height: auto;
    width: auto;
    display: flex;
    gap: 10px; 
    margin-top: 20px;
      
}
.serviço-basico, .serviço-premium{
    border: 1px solid;
    max-width: 400px;
    height: auto;
    padding: 10px; 
    border-radius: 20px;   
}
.serviço-premium{
    margin-left: 0;
}
.serviço-basico:hover, .serviço-premium:hover{
    box-shadow: 0px 0px 3px 3px #049DD9;
    border: 1px solid rgba(255, 255, 255, 0);    
}
li{
    padding: 5px;
}

h2{
    margin-top: 20px;
}

h3{
    margin-left: 100px;
}

img{
    width: 80%;
    border-radius: 25px;   
}

.imagem-principal{
    
    height: 700px;
    display: flex;
}

.texto{
    margin-left: 300px;
    margin-top: 100px;
    height: 300px;
    margin-right: 100px;
}

h1{
    font-size: 70px;
}

.texto1{
    font-size: 30px;
}
/* FOOTER */

.footer{
background:rgb(1, 28, 64);
color:white;
padding:40px 0 20px;
}

.footer-container{
display:flex;
justify-content:space-around;
margin-bottom:20px;
background:rgb(1, 28, 64);
}

.footer-logo img{
width:70px;
margin-bottom:10px;
}

.footer-copy{
text-align:center;
font-size:14px;
opacity:0.9;
}
