*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #A7DDF2;
    font-family: Arial, Helvetica, sans-serif; 
}

.menu{
    display: flex;
    align-items: center;
    padding: 10px 40px;
    background-color: rgb(4, 119, 191);
}

.header-logo img {
    width: 100px;
    height: auto;
}

.header-menu{
    display: flex;
    list-style: none;
    gap: 60px;
    margin-left: 270px;
}

.header-menu ul{
    display: flex;
}

.header-menu a:hover{
    color: rgb(190, 214, 247);
}

a{
    color: rgb(255, 255, 255);
}
.container{
    height: auto;
    width: auto;
    display: flex;
    gap: 10px; 
    margin-top: 20px;   
}
.serviço-basico, .serviço-premium{
    border: 1px solid;
    max-width: 400px;
    height: auto;
    padding: 10px; 
    border-radius: 20px;   
}
.serviço-premium{
    margin-left: 0;
}
.serviço-basico:hover, .serviço-premium:hover{
    box-shadow: 0px 0px 3px 3px #049DD9;
    border: 1px solid rgba(255, 255, 255, 0);    
}
li{
    padding: 5px;
}

h2{
    margin-top: 20px;
}

h3{
    margin-left: 100px;
}

img{
    width: 80%;
    border-radius: 25px;   
}

.imagem-principal{
    
    height: 700px;
    display: flex;
}

.texto{
    margin-left: 300px;
    margin-top: 100px;
    height: 300px;
    margin-right: 100px;
}

h1{
    font-size: 70px;
}

.texto1{
    font-size: 30px;
}      
.header-menu{
    list-style: none; /*Tira as bolinhas da lista*/
}
h1{
    font-size: 70px;
}
h2{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 40%;
}
h3{
    margin-left: 100px;
}
.imagem-principal{
    height: 900px;
    display: flex;
}
.imagem-principal img{
    border-radius: 10px;
}
.texto{
    margin-left: 100px;
    margin-top: 80px;
    height: 300px;
    margin-right: 100px;
}

#servicos{
    display: flex;
    gap: 130px;
    padding: 40px;
    border-radius: 10px;
}

.card{
    width: 300px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.2);

}
.card:hover{
    box-shadow: 0px 0px 10px 3px #1f6fb2;
}

.topo{
    background: #1f6fb2;
    color: white;
    padding: 8px;
    border-radius: 10px 10px 0 0
}

.conteudo{
    padding: 20px;
}

.conteudo img{
    width: 60px;
    margin-bottom: 10px;
    margin-left: 90px;
}

.conteudo h3{
    margin: 10px 0;
    font-size: 22px;
}
.conteudo p{
    font-size: 19px;
    color: #555555;
}
.texto_p{
    font-size: 40px;
    margin-top: 10px;
}

/* FOOTER */

.footer{
background:rgb(1, 28, 64);
color:white;
padding:40px 0 20px;
}

.footer-container{
display:flex;
justify-content:space-around;
margin-bottom:20px;
background:rgb(1, 28, 64);
}

.footer-logo img{
width:70px;
margin-bottom:10px;
}

.footer-copy{
text-align:center;
font-size:14px;
opacity:0.9;
}

button{
    cursor: pointer;
}
.formulario{
    border: 1px solid;
    height: 400px;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 700px;
    background-color: rgb(242, 242, 242);
}
button{
    height: 30px;
    width: 100%;
    margin-top: 40px;
}
label{
    
    margin-top: 10px;
}
input{
    border-radius: 5px;
    border: 1px solid;
    width: 100%;
    height: 20px;
    margin-top: 10px;
    
}
select{
    width: 200px;
}
button:hover{
    background-color:#049DD9;
    border: 1px solid;
}